.main{
    padding: 0;
    margin: 0;
    width: 100%;
}
.home-intro-section{
    height: 900px;
    background-color: salmon;
}
.home-intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
    
}
.middle-section{
    width: 33%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .middle-text{
    text-align: center;
} */
.arched-text{
    display: inline-block;
    position: relative;
    white-space: nowrap;
    font-size: 24px;
}
.character{
    position: absolute;
    top: 50%;
    transform-origin: center bottom;
    transform: translateY(-50%);    
}
/* i need to add padding to each character to place correctly */
.character:nth-child(1){
    transform: rotate(-50deg);
}
.character:nth-child(2){
    transform: rotate(-45deg);
}
.character:nth-child(3){
    transform: rotate(-40deg);
}
.character:nth-child(4){
    transform: rotate(-35deg);
}
.character:nth-child(5){
    transform: rotate(-30deg);
}
.character:nth-child(6){
    transform: rotate(-25deg);
}
.character:nth-child(7){
    transform: rotate(-20deg);
}
.character:nth-child(8){
    transform: rotate(-15deg);
}
.character:nth-child(9){
    transform: rotate(-10deg);
}
.character:nth-child(10){
    transform: rotate(-5deg);
}
.character:nth-child(11){
    transform: rotate(0deg);
}

.middle-picture{
    margin-top: 50px;
    background-color: gray;
    width: 450px;
    height: 700px;
    border-radius: 225px 225px 10px 10px; 
}
.wedding-info{
    height: 100vh;
    display: grid; 
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-items: center;
    background-color: greenyellow;
}
.ceremony-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
}
.plus{
    width: 33%;
    text-align: center;
}
.reception-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
}
.rsvp-button{
    grid-column: 1 / span 3;
}
.faq-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registry-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-final-message{
    height: 80vh;
    text-align: center;
    background-color: greenyellow;
}

/* phone size screens */
@media(min-width: 480px){

}
/* tablet size screens */
@media(min-width: 768px){

}
/* landscape tablets */
@media(min-width: 992px){

}
/* desktop sized screens */
@media(min-width: 1200px){

}