.rsvp-form{
    width: 55%;
    height: 55vh;
    background-color: white;
}
.form-info{
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.question{
    display: flex;
    flex-direction: column;
    width: 85%;
}
/* phone size screens */
@media(min-width: 480px){

}
/* tablet size screens */
@media(min-width: 768px){

}
/* landscape tablets */
@media(min-width: 992px){

}
/* desktop sized screens */
@media(min-width: 1200px){

}